{% extends 'usuarios/base.html' %}
{% block conteudo %}

<div class="container" style="padding: 75px 75px 150px 75px; color: white;">
    <h1 style="text-align: center; padding-bottom: 20px;">Vendas</h1>
    <table class="table table-dark table-striped">
        <tr>
            <th>Número da Venda</th>
            <th>Nome do Cliente</th>
            <th>CPF do Cliente</th>
            <th>Produtos Comprados</th>
            <th>Endereço de Entrega</th>
            <th>Valor da Compra</th>
            <th>Nome do Lojista</th>
            <th>CPF do Lojista</th>
        </tr>
        {% for venda in vendas %}
        <tr>
            <td>{{venda.numero_da_venda_realizada}}</td>
            <td>{{venda.nome_cliente}}</td>
            <td>{{venda.cpf_cliente.cpf}}</td>
            <td>{{venda.produtos_comprados.nome}}</td>
            <td>{{venda.endereco_entrega_cliente}}</td>
            <td>{{venda.preco_venda}}</td>
            <td>{{venda.nome_lojista}}</td>
            <td>{{venda.cpf_funcionario_realizou_a_venda.cpf}}</td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}

