{% extends 'usuarios/base.html' %}
{% block conteudo %}
<script>
    function validarFormulario() {
        var preco = document.getElementById('preco');
        var nome = document.getElementById('nome');
        var cpf = document.getElementById('cpf_funcionario');
        var enviarBotao = document.getElementById('enviarBtn');
        var mensagemErro = document.getElementById('mensagemErro');
        var mensagemErronome = document.getElementById('mensagemErronome');
        var mensagemErrocpf = document.getElementById('mensagemErrocpf');

        var precoValido = preco.value.length > 0;
        var cpfValido = cpf_funcionario.value.length === 11;
        var nomePreenchido = nome.value.length > 0;

        if (!precoValido || !nomePreenchido || !cpfValido) {
            enviarBotao.disabled = true;
        } else {
            enviarBotao.disabled = false;
        }

        mensagemErro.style.display = precoValido ? 'none' : 'block';
        mensagemErronome.style.display = nomePreenchido ? 'none' : 'block';
        mensagemErrocpf.style.display = cpfValido ? 'none' : 'block';
    }

</script>

<h1>ID: {{ produto.id_produto }} - Nome: {{ produto.nome }}</h1>
<form action="{% url 'atualizar_produto' produto.id_produto %}" method="post">
    {% csrf_token %}
    <div style="display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 10px;"
        class="container">
        <h1 style="color: white; padding: 0px 20px 0px 20px; ">Cadastro de Produtos</h1>
        <label for="nome" style="color: white;">Nome</label> <input id="nome" name="nome" class="form-control-sm" type="text" oninput="validarFormulario()">
        <div id="mensagemErronome" style="color: rgb(255, 255, 255); display: block; font-size: 12px;">O nome é um campo
            obrigatório.</div>
        <label for="descricao" style="color: white;">Descrição</label> <input id="descricao" name="descricao" class="form-control-sm" type="text">
        <label for="preco" style="color: white;">Preço</label> <input id="preco" name="preco" class="form-control-sm" type="text" oninput="validarFormulario()">
        <div id="mensagemErro" style="color: rgb(255, 255, 255); display: block; font-size: 12px;">O preço é um campo
            obrigatório.</div>
        <label for="cpf_funcionario" style="color: white;">CPF do Funcionário</label> <input id="cpf_funcionario" name="cpf_funcionario" class="form-control-sm" type="text" oninput="validarFormulario()">
        <div id="mensagemErrocpf" style="color: rgb(255, 255, 255); display: block; font-size: 12px;">O cpf é um campo
            obrigatório.</div>
        <button type="submit" class="form-control-sm" id="enviarBtn" disabled>Enviar</button>
    </div>
</form>



{% endblock %}

